<app-footer>
    <div class="ui vertical footer segment">
        <div class="ui center aligned container">
            <p>&copy; 2020 ぽーとふぉりお by junichi.y</p>
        </div>
    </div>

    <style>
        .ui.vertical.footer.segment {
            padding: 0;
            background: #000;
            color: #fff;
            border-top: 2px solid #ccc;
        }
        .ui.center.aligned.container p {
            padding: 1.2rem 0;
        }
    </style>
</app-footer>